.upComingEvents {
  width: 98%;
  height: fit-content;
  border-radius: 12px;
  padding: 16px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-secondary);
  margin-top: 16px;
}
.upComingEventsHeaderGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upComingEventsEvent {
}
